# World Data League 2022

## üéØ Challenge: Air Quality Prediction in busy streets

## üë• Authors
* Person 1
* Person 2
* Person 3

## üíª Development
Start coding here! üê±‚Äçüèç

Create the necessary subsections (e.g. EDA, different experiments, etc..) and markdown cells to include descriptions of your work where you see fit. Comment your code. 

All new subsections must start with three hash characters.

Pro-tip 1: Don't forget to make the jury's life easier. Remove any unnecessary prints before submitting the work. Hide any long output cells (from training a model for example). For each subsection, have a quick introduction (justifying what you are about to do) and conclusion (results you got from what you did). 

Pro-tip 2: Have many similiar graphs which all tell the same story? Add them to the appendix and show only a couple of examples, with the mention that all the others are in the appendix.

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("data/air_quality_2014_to_2022.csv", index_col = 0)
df.head()

,id,component_id,value,timestamp_measured
0,6fc2b8dd-db16-4f67-bc0d-a2ee96dbf46d,PM25,7.40,2022-02-15T23:00:00+00:00
1,f0b41647-e2f5-402d-ab7a-47a2202e283d,PM10,12.30,2022-02-15T23:00:00+00:00
2,50b377ca-bdc1-4365-9521-5dc5affb238d,FN,0.29,2022-02-15T23:00:00+00:00
3,01cce658-ac64-4019-a436-cdf7172ce8ef,C8H10,0.32,2022-02-15T23:00:00+00:00
4,b66ba836-5ddf-4ac2-bb6f-0c63e17f697b,C7H8,0.55,2022-02-15T23:00:00+00:00

In [11]:
df_1 = df.set_index('id')
df_1.head()

,component_id,value,timestamp_measured
id,,,
6fc2b8dd-db16-4f67-bc0d-a2ee96dbf46d,PM25,7.40,2022-02-15T23:00:00+00:00
f0b41647-e2f5-402d-ab7a-47a2202e283d,PM10,12.30,2022-02-15T23:00:00+00:00
50b377ca-bdc1-4365-9521-5dc5affb238d,FN,0.29,2022-02-15T23:00:00+00:00
01cce658-ac64-4019-a436-cdf7172ce8ef,C8H10,0.32,2022-02-15T23:00:00+00:00
b66ba836-5ddf-4ac2-bb6f-0c63e17f697b,C7H8,0.55,2022-02-15T23:00:00+00:00

In [12]:
df_1['component_id'].value_counts()

FN       69955
PM25     69419
PM10     69412
NO       69229
NO2      69221
C7H8     66456
C6H6     66350
C8H10    57135
Name: component_id, dtype: int64

## üñºÔ∏è Visualisations
Copy here the most important visualizations (graphs, charts, maps, images, etc). You can refer to them in the Executive Summary.

Technical note: If not all the visualisations are visible, you can still include them as an image or link - in this case please upload them to your own repository.

## üëì References
List all of the external links (even if they are already linked above), such as external datasets, papers, blog posts, code repositories and any other materials.

## ‚è≠Ô∏è Appendix
Add here any code, images or text that you still find relevant, but that was too long to include in the main report. This section is optional.