In [ ]:
# basic
import pandas as pd
import math
import requests
import numpy as np
import json

# datetime
from datetime import datetime

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_gc = pd.read_csv("weekly_garbage_data_2014-2021.csv")
df_gc.shape

(396, 8)

In [ ]:
df_gc.head()
df_gc.set_index('Date')

,Unnamed: 0,Load Type,Load Weight,Dropoff Site,Route Type,Route Number,Time
Date,,,,,,,
2013-12-29,0,"['YARD TRIMMING', 'YARD TRIMMING', 'YARD TRIMM...",5864992.0,"['HORNSBY BEND', 'HORNSBY BEND', 'HORNSBY BEND...","['YARD TRIMMINGS', 'YARD TRIMMINGS', 'YARD TRI...","['YF01', 'YH01', 'YW13', 'DH1', 'YH06', 'RFAU2...","[datetime.time(12, 10), datetime.time(16, 38),..."
2014-01-05,1,"['GARBAGE COLLECTIONS', 'GARBAGE COLLECTIONS',...",9650424.0,"['TDS LANDFILL', 'TDS LANDFILL', 'TDS LANDFILL...","['GARBAGE COLLECTION', 'GARBAGE COLLECTION', '...","['PAW72', 'PAH71', 'PH34', 'BU06', 'RHBU13', '...","[datetime.time(14, 12), datetime.time(12, 38),..."
2014-01-12,2,"['GARBAGE COLLECTIONS', 'GARBAGE COLLECTIONS',...",9311385.0,"['TDS LANDFILL', 'TDS LANDFILL', 'TDS - MRF', ...","['GARBAGE COLLECTION', 'GARBAGE COLLECTION', '...","['PAW64', 'PH21', 'RMAU21', 'DA02', 'PAH09', '...","[datetime.time(18, 35), datetime.time(13, 42),..."
2014-01-19,3,"['BULK', 'BULK', 'GARBAGE COLLECTIONS', 'GARBA...",8808898.0,"['TDS LANDFILL', 'TDS LANDFILL', 'TDS LANDFILL...","['BULK', 'BULK', 'GARBAGE COLLECTION', 'GARBAG...","['BU22', 'BU22', 'PT10', 'PAM85', 'DF1', 'PH32...","[datetime.time(15, 46), datetime.time(14, 1), ..."
2014-01-26,4,"['TIRES', 'YARD TRIMMING', 'GARBAGE COLLECTION...",8335148.0,"['MRF', 'HORNSBY BEND', 'TDS LANDFILL', 'TDS -...","['BULK', 'YARD TRIMMINGS', 'GARBAGE COLLECTION...","['BU30', 'YW12', 'PAM70', 'PW22', 'PAH81', 'PM...","[datetime.time(0, 0), datetime.time(12, 50), d..."
...,...,...,...,...,...,...,...
2021-06-27,391,"['RECYCLING - SINGLE STREAM', 'GARBAGE COLLECT...",10174590.0,"['TDS - MRF', 'TDS LANDFILL', 'TDS LANDFILL', ...","['RECYCLING - SINGLE STREAM', 'GARBAGE COLLECT...","['RMBU52', 'PAM74', 'PAM75', 'PAM74', 'PAM73',...","[datetime.time(10, 0), datetime.time(18, 0), d..."
2021-07-04,392,"['GARBAGE COLLECTIONS', 'GARBAGE COLLECTIONS',...",6951360.0,"['TDS LANDFILL', 'TDS LANDFILL', 'TDS LANDFILL...","['GARBAGE COLLECTION', 'GARBAGE COLLECTION', '...","['PAF02', 'PAM06', 'PAM79', 'VB-01', 'OM17', '...","[datetime.time(12, 36), datetime.time(3, 57), ..."
2021-07-11,393,"['RECYCLING - COMINGLE', 'RECYCLING - COMINGLE...",643740.0,"['MRF', 'MRF', 'MRF', 'TDS - MRF', 'TDS LANDFI...","['RECYCLING', 'RECYCLING', 'RECYCLING', 'RECYC...","['RH05', 'RH02', 'RF03', 'RWAS35', 'BU03', 'RM...","[datetime.time(7, 0, 38), datetime.time(7, 0, ..."
2021-12-05,394,['ORGANICS'],1340.0,['ORGANICS BY GOSH'],['YARD TRIMMINGS-ORGANICS'],['OBT99'],"[datetime.time(0, 0)]"
2021-12-19,395,['RECYCLING - SINGLE STREAM'],6940.0,['TDS LANDFILL'],['RECYCLING - SINGLE STREAM'],['RMAU21'],"[datetime.time(12, 41)]"

In [ ]:
df_w = pd.read_csv("WeatherData_weekly.csv")
df_w.shape

(888, 11)

In [ ]:
df_w = df_w.rename(columns={'time':'Date'})
df_w=df_w.set_index('Date')
df_w.head()

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
Date
2005-01-02  20.8  17.8  23.9   8.1   0.0    NaN  11.4   NaN  1019.5   0.0
2005-01-09  13.7   1.1  25.6   6.1   0.0    NaN   9.0   NaN  1022.0   0.0
2005-01-16  13.7  -1.1  26.1   0.0   0.0  325.2  11.8   NaN  1022.2   0.0
2005-01-23  10.5  -1.7  23.3   0.0   0.0    NaN   7.3   NaN  1027.2   0.0
2005-01-30  11.1   0.0  26.7  40.3   0.0    NaN   8.0   NaN  1019.9   0.0

In [ ]:
df_wp = pd.read_csv('Weather_merged_weekly.csv',index_col=False)
df_wp.shape

(888, 13)

In [ ]:
df_wp = df_wp.rename(columns={'time':'Date'})
df_wp=df_wp.set_index('Date')
df_wp

,Unnamed: 0,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,pm25
Date,,,,,,,,,,,,
2005-01-02,0,20.8,17.8,23.9,8.1,0.0,NaN,11.4,NaN,1019.5,0.0,NaN
2005-01-09,1,13.7,1.1,25.6,6.1,0.0,NaN,9.0,NaN,1022.0,0.0,NaN
2005-01-16,2,13.7,-1.1,26.1,0.0,0.0,325.2,11.8,NaN,1022.2,0.0,NaN
2005-01-23,3,10.5,-1.7,23.3,0.0,0.0,NaN,7.3,NaN,1027.2,0.0,NaN
2005-01-30,4,11.1,0.0,26.7,40.3,0.0,NaN,8.0,NaN,1019.9,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-05,883,18.2,7.2,27.2,0.8,0.0,235.0,4.4,NaN,1018.6,0.0,39.714286
2021-12-12,884,16.0,0.6,29.4,0.3,0.0,347.5,6.4,NaN,1016.6,0.0,29.000000
2021-12-19,885,17.8,4.4,27.2,42.0,0.0,42.0,7.7,NaN,1019.1,0.0,36.857143
2021-12-26,886,16.2,3.3,26.1,0.0,0.0,186.6,5.7,NaN,1016.2,0.0,52.142857
2022-01-02,887,20.9,13.9,28.3,0.0,0.0,210.9,5.8,NaN,1008.2,0.0,34.857143

In [ ]:
#df = pd.concat([df_gc,df_w],axis=1)
df = pd.merge(df_gc,df_w,on='Date')

In [ ]:
df.shape

(396, 18)

In [ ]:
df.head()

,Unnamed: 0,Date,Load Type,Load Weight,Dropoff Site,Route Type,Route Number,Time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,0,2013-12-29,"['YARD TRIMMING', 'YARD TRIMMING', 'YARD TRIMM...",5864992.0,"['HORNSBY BEND', 'HORNSBY BEND', 'HORNSBY BEND...","['YARD TRIMMINGS', 'YARD TRIMMINGS', 'YARD TRI...","['YF01', 'YH01', 'YW13', 'DH1', 'YH06', 'RFAU2...","[datetime.time(12, 10), datetime.time(16, 38),...",8.9,-0.5,17.8,0.0,0.0,NaN,4.7,NaN,1026.9,0.0
1,1,2014-01-05,"['GARBAGE COLLECTIONS', 'GARBAGE COLLECTIONS',...",9650424.0,"['TDS LANDFILL', 'TDS LANDFILL', 'TDS LANDFILL...","['GARBAGE COLLECTION', 'GARBAGE COLLECTION', '...","['PAW72', 'PAH71', 'PH34', 'BU06', 'RHBU13', '...","[datetime.time(14, 12), datetime.time(12, 38),...",8.0,-2.1,21.7,0.0,0.0,NaN,8.7,NaN,1023.5,0.0
2,2,2014-01-12,"['GARBAGE COLLECTIONS', 'GARBAGE COLLECTIONS',...",9311385.0,"['TDS LANDFILL', 'TDS LANDFILL', 'TDS - MRF', ...","['GARBAGE COLLECTION', 'GARBAGE COLLECTION', '...","['PAW64', 'PH21', 'RMAU21', 'DA02', 'PAH09', '...","[datetime.time(18, 35), datetime.time(13, 42),...",10.5,-5.5,23.9,6.9,0.0,NaN,6.6,NaN,1027.3,0.0
3,3,2014-01-19,"['BULK', 'BULK', 'GARBAGE COLLECTIONS', 'GARBA...",8808898.0,"['TDS LANDFILL', 'TDS LANDFILL', 'TDS LANDFILL...","['BULK', 'BULK', 'GARBAGE COLLECTION', 'GARBAG...","['BU22', 'BU22', 'PT10', 'PAM85', 'DF1', 'PH32...","[datetime.time(15, 46), datetime.time(14, 1), ...",13.0,2.8,24.4,0.0,0.0,NaN,7.0,NaN,1022.2,0.0
4,4,2014-01-26,"['TIRES', 'YARD TRIMMING', 'GARBAGE COLLECTION...",8335148.0,"['MRF', 'HORNSBY BEND', 'TDS LANDFILL', 'TDS -...","['BULK', 'YARD TRIMMINGS', 'GARBAGE COLLECTION...","['BU30', 'YW12', 'PAM70', 'PW22', 'PAH81', 'PM...","[datetime.time(0, 0), datetime.time(12, 50), d...",9.9,-3.2,27.8,2.8,0.0,NaN,7.7,NaN,1023.2,0.0

In [ ]:
df.to_csv('AllData.csv')

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=1a1cabe9-69f7-4a67-be18-e232e1feb2b6' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>