In [1]:
TOKEN = "FYzAuWAth16w6jWTYJe41Pa5h"

In [5]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.austintexas.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.austintexas.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("rtqb-u5jq", limit=4000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [6]:
results_df

,landfill,the_geom,garb_rt,garb_day,garb_sup,super_num,op_type,rt_old
0,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAH83,Thursday,Gilbert,697,Auto,NaN
1,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAM54,Monday,Castillo,500,Auto,PAM84
2,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAM71,Monday,Carnline,596,Auto,NaN
3,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAH54,Thursday,Castillo,500,Auto,PAH75
4,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAW71,Wednesday,Carnline,596,Auto,NaN
...,...,...,...,...,...,...,...,...
179,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAW63,Wednesday,Litson,170,Auto,NaN
180,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAM72,Monday,Carnline,596,Auto,NaN
181,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAM73,Monday,Carnline,596,Auto,NO ROUTE
182,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAT84,Tuesday,Gilbert,697,Auto,PAT71
183,TDS,"{'type': 'MultiPolygon', 'coordinates': [[[[-9...",PAW70,Wednesday,Carnline,596,Auto,NaN